@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .calendar-table {
        width: 100%; 
        max-width: none;
    }
}

.NavBtns {
    display: flex;
    justify-content: space-between;
    margin: 20px 40px 0 0; 
}

.BackBtn {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    min-height: 60px;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    touch-action: manipulation;
    will-change: transform;
    margin-top: 20px;
    margin-left: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  }

  .BackBtn:hover {
    color: #fff;
    background-color: #DB55AF;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .BackBtn:active {
    box-shadow: none;
    transform: translateY(0);
  }

html, body, div, h1, table, tr, th, td {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #48487D;
}

.Calendar-Container {
    display: flex;
    align-items: flex-start;
    margin-left: 40px;
}

.Calendar-Content {
    flex: 1; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Month-Name {
    color: #DB55AF;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.Calendar-Table {
    width: 1200px; 
    height: 1000px;
    background-color: transparent;
    background-image: radial-gradient( #e3e2eb,20% , #fcfcf9);
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 80px;
    padding: 15px;
    box-shadow: 10px 0 15px rgba(0, 0, 0, 0.5);
    flex: 1;
}

.Calendar-Days {
    color: #DB55AF;
    background-color: #52D3EA;
    padding: 10px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
   
}

.Calendar-Days th {
    font-family: 'Bebas Neue', sans-serif;
    border: 1px solid #ccc;
    
}

.Calendar-Dates {
    border: 1px solid #ccc;
    padding: 10px;
    color: #0a0404;
}

.Calendar-Dates td {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 30px;
    font-weight: 500;
    color: #48487D;
}

.Calendar-Dates td.Sunday {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 30px;
    font-weight: 500;
    color: #DB55AF;
}

.Calendar-Dates td:hover {
    border: 2px solid black;
}

.Side-Panel {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Side-Panel img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    
}

.Note-Body {
    display: none;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 400px; 
    background-color: #fcfcf9;
    font-size: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1; 
    padding: 10px;
}

.Note-Content {
    background-color: #fcfcf9;
    width: 100%;
    height: 100px;
    resize: none;
    margin-bottom: 10px;
    border: 2px solid black;
    font-size: 20px;
}

.Save-Note-Btn {
    background-color: #52d3ea;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Save-Note-Btn:hover {
    background-color: #49bdd1;
}